{% extends './dashboard.html' %}

{% load static %}
{% block css %}
div{
    padding-top:5px;
}
#query1{
    background-color: pink;
    padding:15px;
}
#query2{
    background-color: lightgreen;
    padding:15px;
}
.msg{
    padding:15px;
}
{% endblock %}
{% block body %}

<div id="query1">Asked Queies</div>
{% for i in query1 %}
<li>Date : {{i.date}}</li>
<p class="msg">{{i.msg}}</p>

{% endfor %}

<div id="query2">Solution Queries</div>
{% for i in query2 %}
<li>Date : {{i.date}}</li>
<li>By : {{i.email}}</li>
<p class="msg">{{i.msg}}</p>

{% endfor %}

{% endblock %}