{% extends './dashboard.html' %}
{% load static %}
{% block css %}
#aimg{
    height:500px;
    width:500px;
}

{% endblock %}
{% block body %}

{% if announce %}

<div id="msg"class="alert alert-danger"style="display:none"></div>

{% for i in announce %}
    <h3><font color="red"> Name :</font><b> {{i.announcement_name}}</b></h3>
    <br/>
    <h3> <font color="red">Detail:</font> {{i.detail}}</h3>
    <br/>
    <h4><font color="red">Date:</font> <b> {{i.date_of_announcement}}</b></h4>
    <h4><font color="red">Time:</font> <b> {{i.time_of_announcement}}</b></h4>
    {% if  i.file_type == 'img' %}
    <p><img id="aimg" src="{{i.announcement_file}}"></p>
    
    {%else%}
    <p><a href="{{i.announcement_file.url}}"><button class="btn btn-primary"> View </button></a></p>
    
    {%endif%}
    <p><input type="button" class="btn btn-danger" id="btnannounce" data-sid="{{i.announcement_id}}" value="Delete"><p></p>
    <hr/>
    
    <br/>
    {% endfor %}


{%else%}

No Announcement !! 

{% endif %}

{% include "ajax.html" %}

{% endblock %}