{% extends 'ocp_app/dashboardTeach.html' %}

{% load static %}
{% block css %}
{% endblock %}


{% block body %}

<div class="form-body">
    <form class="form-signin" action="/add_Material/{{course_id}}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <p> <label for="material_id" class="form-label">Material Id</label>
           <input type="number" class="form-control" id="m_id"name="m_id" placeholder="Material_id"></p>
         </div>
    
      <div class="mb-3">
       <p><label for="detail" class="form-label">Material Description</label>
        <textarea class="form-control" id="detail" name="detail" rows="3"></textarea></p>
      </div>

      <p><select class="form-select" aria-label="Default select example" id="file_type" name="file_type">
        <option selected>Material File Type</option>
        <option value="img">Image</option>
        <option value="pdf">Pdf</option>
        <option value="PPT">PPT</option>
        <option value="video">Video</option>
        </select>
        </p>
        
    </select>
    </p>
    <p><input type="file" name="material_file" id="material_file"></p>

    <p><button class="btn btn-primary" type="submit">
        <b>Submit</b></button>
      </p>
    </form>

{% endblock %}
