{% extends my_template %}


{% load static %}
{% block css %}
.add_announce{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: auto;
  grid-gap: 2rem;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: flex-end;
 
  padding:25px;
  
}
.card{
  margin: 25px 25px 25px 25px;
  border: 2px solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}


.btn{
  font-size: 0.8rem;
}
h2{
  font-size: 1.75rem;
  text-align: center;
  color: green;
}



{% endblock %}

{% block body %}

<h2>New Courses</h2>
<div id="msg"class="alert alert-danger"style="display:none"></div>
<div class="add_announce">
 
{% for i in new_course %}
<div class="card" style="width: 18rem; height:15rem;">
    <div class="card-body">
      <h3 class="card-title" id="c_name">{{i.course_name}}</h3>
      <h6 class="card-subtitle mb-2 text-muted" id="c_id">{{i.course_id}}</h6>
      <p class="card-text">Good Luck</p>
      <input type="button" class="btn btn-primary" id="btn-add" data-sid="{{i.course_id}}" value="Add course">
      
      
    </div>
  </div>

{% endfor %}
</div>

{% include "../ocp_app/ajax.html" %}

{% endblock %}