{% extends 'ocp_app/dashboard.html' %}
{% load static %}
{% block css %}

.container{
height: 100%;
align-content: center;
}

.card{
margin-top: 50px;
margin-bottom: 50px;
width: 70%;
background-color: white;
border-color: grey; 
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 25px;
margin-right: 10px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.bigcheckbox{
    width: 20px;
    height: 20px;
}

.color-pattern-3 {
    text-align: center;
}

.signup_btn{
    color: black;
    background-color: #FFC312;
    width: 250px;
    }
    
.signup_btn:hover{
    background-color: #2a2b3d;
    color:white;
}

/* General button style (reset) */
.button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    width: 350px;
    padding: 25px 50px;
    display: inline-block;
    margin: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Button 3 */
.button-3 {
    background: #fcad26;
    color: #fff;
}
.button-3:hover {
    background: #f29e0d;
}
.button-3:active {
    background: #f58500;
    top: 2px;
}
.button-3>.fa {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 140%;
    width: 60px;
}
.button-3>.fa:before {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/* Button 3a */
.button-3a {
    padding: 25px 60px 25px 120px;
}
.button-3a>.fa {
    background: rgba(0, 0, 0, 0.05);
}
/* Button 3b */
.button-3b {
    padding: 25px 60px 25px 120px;
    border-radius: 10px;
}
.button-3b>.fa {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
}
/* Button 3c */
.button-3c {
    padding: 80px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 3px #da9622;
}
.button-3c>.fa:before {
    position: static;
}
.button-3c:active {
    box-shadow: 0 3px #dc7801;
}
.button-3c>.fa {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background: #fff;
    color: #f29e0d;
    border-radius: 10px 10px 0 0;
}
.button-3c:active:before {
    color: #f58500;
}
/* Button 3d */
.button-3d {
    padding: 25px 60px 25px 120px;
    border-radius: 10px;
}
.button-3d>.fa {
    background: #fff;
    color: #fcad26;
    z-index: 2;
    border-radius: 10px 0 0 10px;
}
.button-3d:after {
    width: 20px;
    height: 20px;
    background: #fff;
    z-index: 1;
    left: 55px;
    top: 50%;
    margin: -10px 0 0 -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.button-3d:active:before {
    color: #f58500;
}
.button-3d:active {
    top: 0;
}
.button-3d:active:after {
    left: 60px;
}
/* Button 3e */
.button-3e {
    padding: 25px 120px 25px 60px;
    overflow: hidden;
}
.button-3e>.fa {
    left: auto;
    right: 10px;
    z-index: 2;
}
.button-3e:after {
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
}
.button-3e:hover:after {
    width: 35%;
}
.control-label {
    font-size: 20px;
}
[type="checkbox"]
{
    vertical-align:middle;
}
[type="radio"]
{
    vertical-align:middle;
}
card-header{
    text-shadow: 1px 1px 3px #000000;
    font-weight: 50;
}

/* Profile pic in update profile */
.profile-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.2);
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all .3s ease;
  text-decoration: none;
  cursor: pointer;
}

.profile-pic:hover {
  background-color: rgba(0,0,0,.5);
  z-index: 10000;
  color: #fff;
  transition: all .3s ease;
  text-decoration: none;
}

.profile-pic span {
  display: inline-block;
  padding-top: 4em;
  padding-bottom: 4em;
}

form input[type="file"] {
        display: none;
        cursor: pointer;
}
{% endblock %}
{% block body %}
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h5>Update Profile</h5>
			</div>
			<div class="card-body">
				<form action="" method="post">{% csrf_token %}
                    <div style="display: flex; justify-content: center">
                        <label for="fileToUpload">
                          <div
                            class="profile-pic"
                            id="profile-pic"
                            style="background-image: url({{img}})"
                          >
                            <span><i class="fas fa-camera"></i></span>
                            <span>Change Image</span>
                          </div>
                        </label>
                        <input type="file" name="fileToUpload" id="fileToUpload" />
                    </div>
                    <br />
                    <div class="input-group form-group">
                        <label class="control-label col-sm-4">Username</label>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" id="username" name='username' value="{{ user }}" readonly>
                    </div>
                    <div class="input-group form-group">
                        <label class="control-label col-sm-4">Firstname</label>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"> </i></span>
						</div>
						<input type="text" class="form-control" id="firstname" name='firstname' value="{{firstname }}" readonly>
                    </div>
                    <div class="input-group form-group">
                        <label class="control-label col-sm-4">Lastname</label>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" id="lastname" name='lastname' value="{{ lastname }}" readonly>
                    </div>
                    <div class="input-group form-group">
                        <label class="control-label col-sm-4">Date of Birth</label>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-calendar"></i></span>
						</div>
						<input type="text" class="form-control" id="dob" name='dob' value="{{ dob }}" onfocus="(this.type='date')">
                    </div>
					<div class="input-group form-group">
                        <label class="control-label col-sm-4">Email Address</label>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<input type="email" class="form-control" id="email" name='email' value="{{ email }}" readonly>
					</div>
                    <div class="input-group form-group">
                        <label class="control-label col-sm-4">Mobile Number</label>
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-phone"></i></span>
						</div>
						<input type="tel" class="form-control" id="phone" name='phone'  value="{{ phone }}">
                    </div>
                    <br>
					<div class="form-group text-center">
                        <input type="submit" value="UPDATE MY PROFILE" class="btn signup_btn">
                    </div>
                </form>
                <script type="text/javascript">
                    $("document").ready(function () {
                        $('input[type=file]').on('change', function () {
                        let img = $(this).val();
                        console.log(img)
                        $('#profile-pic').css('background-image', `url(${img})`);
                        });
                    });
                 </script>
            </div>
		</div>
	</div>
</div>
{% endblock %}
