{% extends my_template %}

{% load static %}
{% block css %}

{% endblock %}
{% block body %}


{% if material %}


{% for i in material %}
    <h3><font color="red"> Material ID :</font><b> {{i.material_id}}</b></h3>
    <br/>
    <h3> <font color="red">Detail:</font> {{i.material_DESC}}</h3>
    <h3> <font color="red">Uploaded By:</font> {{i.uploaded_by}}</h3>
    <h4><font color="red">Uploaded Date:</font> <b> {{i.date_of_upload}}</b></h4>
    <h4><font color="red">Uploaded Time:</font> <b> {{i.time_of_upload}}</b></h4>
    <br/>
    {% if  i.file_type == 'img' %}
    <img id="aimg" src="{{i.material}}">
    {%else%}
    <a href="{{i.material.url}}"><button class="btn btn-primary"> View </button></a>
    
    {%endif%}
    <hr/>
    <br/>
    {% endfor %}

{% else %}

<h3> No Material is Present</h3>

{% endif %}

<input type="button" class="btn btn-danger" id="btn-del" onclick="location.href='/addMaterial/{{course_id}}' "value="Add Material">

{% endblock %}