{% extends my_template %}
{% load static %}
{% block css %}

#query1{
    background-color: pink;
    padding:15px;
}
#query2{
    background-color: lightgreen;
    padding:15px;
}

{% endblock %}
{% block body %}
<div class="col-md-12">
    <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">View Queries</h2>
</div>

                    {% for i in query1 %}
                    <div class="shadow p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <div>
                                <h6 style="float: left;" id="query1"><b>Asked Query - {{forloop.counter}}</b></h6>
                                <h6 style="float: right;">{{i.date}}</h6>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div style="display: inline-block;">
                                <h6>{{i.msg}}</h6>
                                <br>
                            </div>

                            {% for i in query2 %}
                                <div>
                                    <h6 style="float: left;" id="query2"><b>Solution By - {{ i.email }}</b></h6>
                                    <h6 style="float: right;">{{i.date}}</h6>
                                </div>
                                <br>
                                <br>
                                <br>
                                <div style="display: inline-block;">
                                    <h6>{{i.msg}}</h6>
                                    <br>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    {% endfor %}


{% endblock %}